<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/gallery.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js" async></script>

    <!-- Angular toaster dependencies -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet"/>
    <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/custom.services.js"></script>
    <script src="app/custom.directives.js"></script>
    <script src="app/gallery.controller.js"></script>
    <script src="app/greeting.controller.js"></script>

    <!-- Drop-down menu for mobile view -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/jquery.dropotron.min.js" async></script>
    <script src="assets/scripts/jquery.scrolly.min.js" async></script>
    <script src="assets/scripts/skel.min.js"></script>
    <script src="assets/scripts/util.js" async></script>
    <script src="assets/scripts/main.js" async></script>
</head>

<body ng-controller="GalleryController" class="nosidebar">

<div id="page-wrapper wrapper">

    <my-header title="My Gallery"></my-header>

    <article id="content" class="content-section">
        <section id="banner" class="gallery">
            <my-greeter greeting="Here are all the clothes catalogued in your wardrobe!"></my-greeter>

            <a href="./Upload.html" class="button">Add New Clothes</a>
            <button ng-click="clearWardrobe()">Clear Wardrobe</button>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-xs-12" ng-repeat="setOfClothes in setsOfClothes">
                    <h1>{{ setOfClothes.type }}</h1>
                    <div id="main">
                        <article ng-repeat="clothing in setOfClothes.data" class="thumb">
                            <a href="{{ clothing.url }}" class="image"><img ng-src="{{ clothing.url }}"/></a>
                            <a class="close-button icon fa fa-times-circle" ng-click="deleteClothing()"></a>
                        </article>
                    </div>
                </div>
            </div>

        </div>

    </article>

    <my-footer></my-footer>
</div>

</body>
</html>
