<!DOCTYPE html>
<html ng-app>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/gallery.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js" async></script>
    <script src="assets/js/scripts.js" async></script>

    <!-- Drop-down menu for mobile view -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js" async></script>
    <script src="assets/js/jquery.scrolly.min.js" async></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js" async></script>
    <script src="assets/js/main.js" async></script>
</head>

<body ng-controller="MainController" class="nosidebar">

<div id="page-wrapper wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="index.html" id="logo">Clairidrobe</a></h1>
                <header>
                    <h2 id="title">My Gallery</h2>
                </header>
            </header>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Gallery.html">Gallery</a></li>
                <li><a href="Outfits.html">Outfit</a></li>
                <li><a href="Styles.html">Styles</a></li>
                <li><a href="Upload.html">Upload</a></li>
            </ul>
        </nav>
    </div>


    <article id="content" class="content-section">
        <section id="banner" class="gallery">
            <header>
                <h2>Hi. Welcome to <strong>Clairidrobe!</strong></h2>
                <p> Today is <strong><span ng-bind="date | date:'MM/dd/yyyy'"></span></strong> and the weather is
                    <strong>-10&deg;C</strong> in <strong>Montreal.</strong> Here are all the clothes catalogued in your
                    wardrobe!</p>
            </header>
            <a href="./Upload.html" class="button">Add New Clothes</a>
            <button ng-click="clearWardrobe()">Clear Wardrobe</button>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-xs-12">

                    <!-- Main -->
                    <h1>Shirts</h1>
                    <div id="main">
                        <article ng-repeat="shirt in shirts track by $index" class="thumb">
                            <a href="{{ shirt.url }}" class="image"><img ng-src="{{ shirt.url }}"/></a>
                        </article>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <!-- Main -->
                    <h1>Pants</h1>
                    <div id="main">
                        <article ng-repeat="pant in pants track by $index" class="thumb">
                            <a href="{{ pant.url }}" class="image"><img ng-src="{{ pant.url }}"/></a>
                        </article>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <!-- Main -->
                    <h1>Shoes</h1>
                    <div id="main">
                        <article ng-repeat="shoe in shoes track by $index" class="thumb">
                            <a href="{{ shoe.url }}" class="image"><img ng-src="{{ shoe.url }}"/></a>
                        </article>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <!-- Main -->
                    <h1>Jackets</h1>
                    <div id="main">
                        <article ng-repeat="jacket in jackets track by $index" class="thumb">
                            <a href="{{ jacket.url }}" class="image"><img ng-src="{{ jacket.url }}"/></a>
                        </article>
                    </div>
                </div>
            </div>

        </div>

    </article>
</div>

<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="12u">
                <section class="contact">
                    <a href="https://github.com/rivukhoda/claridrobe" target="_blank" class="icon fa fa-github"></a>
                    <p>&copy; 2016
                        <a href="https://ca.linkedin.com/in/rivukhoda" target="_blank">Rivu</a> and
                        <a href="https://ca.linkedin.com/in/marvin-wu-23135772" target="_blank">Marvin</a>.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>

</body>
</html>
