<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/gallery.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js" async></script>

    <!-- Angular toaster dependencies -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet"/>
    <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/custom.services.js"></script>
    <script src="app/custom.directives.js"></script>
    <script src="app/style.controller.js"></script>
    <script src="app/greeting.controller.js"></script>

    <!-- Drop-down menu for mobile view -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/jquery.dropotron.min.js" async></script>
    <script src="assets/scripts/jquery.scrolly.min.js" async></script>
    <script src="assets/scripts/skel.min.js"></script>
    <script src="assets/scripts/util.js" async></script>
    <script src="assets/scripts/main.js" async></script>
</head>

<body ng-controller="StyleController" class="nosidebar">

<div id="page-wrapper wrapper">

    <my-header title="Favorite Styles"></my-header>


    <section id="content" class="content-section">

        <section id="banner" class="gallery">
            <my-greeter greeting="Here are all of your favorite outfits!"></my-greeter>
        </section>

        <div class="container">
            <h1>Saved Outfits</h1>
            <div ng-repeat="outfit in savedOutfits" class="row">
                <div class="col-lg-12 col-xs-12">
                    <!-- Main -->
                    <div id="main">
                        <div class="col-lg-12 col-xs-12">
                            <h3>{{ outfit.date | date: MM/dd/yyyy }}</h3>
                        </div>
                        <div ng-repeat="item in outfit.clothes track by $index"
                             class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                            <header class="image">
                                <img ng-src="{{ item.url }}" class="img-responsive">
                            </header>
                        </div>
                    </div>
                    <button style="margin: auto;display: block;" ng-click="deleteOutfit()">Delete Outfit</button>
                </div>
            </div>
        </div>

    </section>

    <my-footer></my-footer>

</div>

</body>
</html>
