<!DOCTYPE html>
<html ng-app>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/gallery.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js" async></script>
    <script src="assets/js/scripts.js" async></script>

    <!-- Drop-down menu for mobile view -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js" async></script>
    <script src="assets/js/jquery.scrolly.min.js" async></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js" async></script>
    <script src="assets/js/main.js" async></script>
</head>

<body ng-controller="StyleController" class="nosidebar">

<div id="page-wrapper wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="index.html" id="logo">Clairidrobe</a></h1>
                <header>
                    <h2 id="title">Favorite Styles</h2>
                </header>
            </header>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Gallery.html">Gallery</a></li>
                <li><a href="Outfits.html">Outfit</a></li>
                <li><a href="Styles.html">Styles</a></li>
                <li><a href="Upload.html">Upload</a></li>
            </ul>
        </nav>
    </div>


    <section id="content" class="content-section">

        <section id="banner" class="gallery">
            <header>
                <h2>Hi. Welcome to <strong>Clairidrobe!</strong></h2>
                <p> Today is <strong><span ng-bind="date | date:'MM/dd/yyyy'"></span></strong> and the weather is
                    <strong>-10&deg;C</strong> in <strong>Montreal.</strong> Here are all of your favorite outfits!</p>
            </header>
        </section>

        <div class="container">
            <h1>Saved Outfits</h1>
            <div ng-repeat="outfit in savedOutfits" class="row">
                <div class="col-lg-12 col-xs-12">
                    <!-- Main -->
                    <div id="main">
                        <div class="col-lg-12 col-xs-12">
                            <h3>{{ outfit.date | date: MM/dd/yyyy }}</h3>
                        </div>
                        <div ng-repeat="item in outfit.clothes track by $index"
                             class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                            <header class="image">
                                <img src="{{ item.url }}" class="img-responsive">
                            </header>
                        </div>
                    </div>
                    <button style="margin: auto;display: block;" ng-click="deleteOutfit()">Delete Outfit</button>
                </div>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <section class="contact">
                        <a href="https://github.com/rivukhoda/claridrobe" target="_blank" class="icon fa fa-github"></a>
                        <p>&copy; 2016
                            <a href="https://ca.linkedin.com/in/rivukhoda" target="_blank">Rivu</a> and
                            <a href="https://ca.linkedin.com/in/marvin-wu-23135772" target="_blank">Marvin</a>.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
