<section class="section section--hero section--no-separator" id="gallery">
    <div class="section__block fixed-width">
      <div class="section--hero__text">
        <h2 class="hero__title">
My Gallery
</h2>
        <p class="hero__subtitle">
Displaying clothes in the app
</p>
      </div>
      
    </div>
  </section>


<section class="section section--content section--guides">
    <div class="mdl-grid fixed-width">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="section__block section-block--content-titles mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
           <my-greeter greeting="Here are all the clothes catalogued in your wardrobe!"></my-greeter>
        
            <p class="content__subtitle">
                   <a href="#upload" class="button">Add New Clothes</a>
                   <button ng-click="clearWardrobe()">Clear Wardrobe</button>
            </p>

           <div class="hide-small">
           </div>
       </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    </div>
  </section>


<div id="page-wrapper wrapper">

    <article id="content" class="content-section">
        <section id="banner" class="gallery">
            
        </section>

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-xs-12" ng-repeat="setOfClothes in setsOfClothes">
                    <h1>{{ setOfClothes.type }}</h1>
                    <div id="main">
                        <article ng-repeat="clothing in setOfClothes.data" class="thumb">
                            <a href="{{ clothing.url }}" class="image"><img ng-src="{{ clothing.url }}"/></a>
                            <a class="close-button icon fa fa-times-circle" ng-click="deleteClothing()"></a>
                        </article>
                    </div>
                </div>
            </div>

        </div>

    </article>

</div>