<div id="page-wrapper">

    <my-header title="Create Outfit"></my-header>

    <section id="content" class="content-section">
        <div class="container">

            <!-- Banner -->
            <section id="banner">
                <my-greeter greeting="What would you like to wear today?"></my-greeter>

                <footer>
                    <button ng-click="generateRandomIndices()">
                        Randomize
                    </button>
                    <button ng-click="generateRandomIndices()">
                        Recommend
                    </button>
                </footer>
            </section>

            <div class="row" id="outfit">

                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" ng-repeat="setOfClothes in setsOfClothes">
                        <header>
                            <img ng-src="{{ setOfClothes.data[setOfClothes.displayIndex].url }}" class="img-responsive">
                            <h1> {{ setOfClothes.type }} </h1>
                        </header>
                    </div>
                </div>
            </div>

            <div id="center">
                <div class="col-lg-12">
                    <button ng-click="saveOutfit(); $window.location.reload();">Save Selection</button>
                    <p id="center"><br><br>{{ message }}</p>
                </div>
            </div>
        </div>

    </section>

    <my-footer></my-footer>

</div>