<section class="section section--hero section--no-separator">
    <div class="section__block fixed-width">
      <div class="section--hero__text">
        <h2 class="hero__title">
Saved Styles
</h2>
        <p class="hero__subtitle">
Displaying your favorite styles
</p>
      </div>
      
    </div>
  </section>



<section class="section section--content section--guides">
    <div class="mdl-grid fixed-width">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="section__block section-block--content-titles mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
            <h3 class="content__title">User Saved Styles</h3>

            <div ng-repeat="outfit in savedOutfits" class="row">
                <div class="col-lg-12 col-xs-12">
                    <!-- Main -->
                    <div id="main">
                        <div class="col-lg-12 col-xs-12">
                            <h3>{{ outfit.date | date: MM/dd/yyyy }}</h3>
                        </div>
                        <div ng-repeat="item in outfit.clothes track by $index"
                             class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                            <header class="image">
                                <img ng-src="{{ item.url }}" class="img-responsive">
                            </header>
                        </div>
                    </div>
                    <button style="margin: auto;display: block;" ng-click="deleteOutfit()">Delete Outfit</button>
                </div>
            </div>


           <div class="hide-small">
           </div>
       </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    </div>
  </section>

